debug
build
/Makefile.Release
/Makefile.Debug
/Makefile
object_script.amsterdamcoin-qt.Debug
object_script.amsterdamcoin-qt.Release
amsterdamcoin.pro.user
amsterdamcoin-qt_plugin_import.cpp
src/qt/locale/*.qm
release